@font-face {
  font-family: "AvenirNext-Bold";
  src: url("/fonts/AvenirNext/AvenirNext-Bold.eot");
  src: url("/fonts/AvenirNext/AvenirNext-Bold.woff2") format("woff2"),
    url("/fonts/AvenirNext/AvenirNext-Bold.woff") format("woff"),
    url("/fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype"),
    url("/fonts/AvenirNext/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg"),
    url("/fonts/AvenirNext/AvenirNext-Bold.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("/fonts/AvenirNext/AvenirNext-Regular.eot");
  src: url("/fonts/AvenirNext/AvenirNext-Regular.woff2") format("woff2"),
    url("/fonts/AvenirNext/AvenirNext-Regular.woff") format("woff"),
    url("/fonts/AvenirNext/AvenirNext-Regular.ttf") format("truetype"),
    url("/fonts/AvenirNext/AvenirNext-Regular.svg#AvenirNext-Regular")
      format("svg"),
    url("/fonts/AvenirNext/AvenirNext-Regular.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand-color: rgb(255, 51, 0);
}

.App {
  font-family: "AvenirNext-Regular", "Helvetica Neue", HelveticaNeue, Helvetica,
    Arial, sans-serif;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container > * {
  margin: 26px 30px;
  font-size: 48px;
}

.search-container > input,
input:focus {
  color: var(--brand-color);
  border: none;
  outline: none;
  text-align: center;
}

.App-logo {
  width: 141px;
  height: 35px;
}

.nav-item {
  margin: 26px 30px;
  color: var(--brand-color);
  font-size: 16px;
  text-decoration: underline;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
